<div id="container">
	<h1>Due Date Calculator</h1>
	<div id="due-date-calculator">
		<div id="ddc-left">
			<div class="ddc-line">
				<label for="ddc-submit-date">Submit Date</label>
				<!-- Yeah, bad I know, but I wanted to use the spinner's design here too :) -->
				<span class="ui-spinner ui-widget ui-widget-content ui-corner-all">
					<input type="text" name="ddc-submit-date" id="ddc-submit-date" placeholder='Click in me' />
				</span>
			</div>
			<div class="ddc-line">
				<label for="ddc-turnaround-hours">Turnaround Hours</label>
				<input type="text" name="ddc-turnaround-hours" id="ddc-turnaround-hours" value="8" />
			</div>
		</div>
		<div id="ddc-right">
			<input type="button" name="ddc-submit" id="ddc-submit" value="Submit"></input>
		</div>
		<div class="clearer">&nbsp;</div>
		<hr/>
		<div id="ddc-calculated-container">
			<h2>Calculated Date</h2>
			<div id="ddc-calculated-date">&nbsp;</div>
		</div>
	</div>
</div>